.header-main {
  background-color: $background-color-header-primary;
  margin-top: $margin-primary;
  padding: $padding-primary;
  border-radius: $border-radius-primary $border-radius-primary 0 0;

  h1 {
    text-align: center;
  }
}
